*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
	outline: none;
}
.parent{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
}
body{
    background-color: white;
	background-image: url("images.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100vw  ;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 325px;
    box-shadow: 0 10px 30px -5px rgb(0,0,0,0.8 );
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: white;
}
.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    height: 100vh;
    justify-content: center;
}
.container{
    background-color: white;
    width: 500px;
    height: 90vh;
    padding:0 15px 15px 15px;
	box-shadow: 0 10px 30px -5px rgb(0,0,0,0.8 );
	border-radius: 5px;
    /* margin-left: 300px; */
}
.precedenceAndCase{
	display: flex;
	justify-content: space-around;
}
.precedenceAndCase .precedence select{
	width: 225px;
	border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.precedenceAndCase .case select{
	width: 225px;
	border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
	font-weight: bold;
}
.header ,.info ,.topik ,.precedence ,.case,.date{
    margin: 4px;
	margin-top: 10px;
}
.header input,.info input,.topik textarea ,.precedence select ,.case select{
	width: 100%;
	border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.precedence select ,.case select,.date input{
	width: 100px;
}

.date{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.date .start input ,.date .finish input{
	width: 225px;
	border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top:20px ;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(46, 46, 247);
    color: rgb(46, 46, 247);
    transition: .4s;
    margin-bottom: 5px;
}
button:hover{
    background-color: rgb(46, 46, 247);
    border: 1px solid white;
    color: white;
    transition: .4s;
}
h5{
    font-weight: 600;
}


.mainContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 900px;
    margin-left: -50px;
    transition: all 0.5s;
}

#id{
    color: red;
    display: none;
}
.paragrafContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragrafMain{
    width: 300px;
    display: flex;
    justify-content: space-between;
}